<%- include("../header"); %>
<div class="col-12">
    <h1>Agregar producto</h1>
    <form method="post" action="/productos/insertar">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input required id="nombre" placeholder="Nombre del producto" class="form-control" type="text"
                name="nombre">
        </div>
        <div class="form-group">
            <label for="codigo">Codigo</label>
            <input required id="codigo" placeholder="Codigo del producto" class="form-control" type="number"
                name="codigo">
        </div>
        <div class="form-group">
            <label for="proveedor">Proveedor</label>
            <input required id="proveedor" placeholder="Proveedor" class="form-control" type="text"
                name="proveedor">
        </div>
        <div class="form-group">
            <label for="cantidad">Cantidad</label>
            <input required id="cantidad" placeholder="Cantidad de producto" class="form-control" type="number"
                name="cantidad">
        </div>
        <div class="form-group">
            <label for="precio">Precio</label>
            <input required id="precio" placeholder="Precio del producto" class="form-control" type="number"
                name="precio">
        </div>
        <div class="form-group">
            <button class="btn btn-success">Guardar</button>
            &nbsp;<a href="/productos" class="btn btn-primary">Volver</a>
        </div>
    </form>
</div>
<%- include("../footer"); %>