<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Registro de Compras Nacionales e Importaciones, ingresa aqui a
      <a href="/productos">/productos</a>
      para empezar a registrar.
    </h2>
  </body>
</html>
