body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #ff0000;
}

/*
  Nota: si no usas el navbar, el siguiente código
  no es necesario
*/
body{
  padding-top: 70px;
}