<%- include("../header"); %>
<div class="col-12">
    <h1>Agregar producto</h1>
    <form method="post" action="/importaciones/insertar">
        <div class="form-group">
            <label for="nombreI">Nombre</label>
            <input required id="nombreI" placeholder="Nombre del producto" class="form-control" type="text"
                name="nombreI">
        </div>
        <div class="form-group">
            <label for="codigoI">Codigo</label>
            <input required id="codigoI" placeholder="Codigo del producto" class="form-control" type="number"
                name="codigoI">
        </div>
        <div class="form-group">
            <label for="pais">Pais</label>
            <input required id="pais" placeholder="Pais de Origen" class="form-control" type="text"
                name="pais">
        </div>
        <div class="form-group">
            <label for="proveedorI">Proveedor</label>
            <input required id="proveedorI" placeholder="Proveedor" class="form-control" type="text"
                name="proveedorI">
        </div>
        <div class="form-group">
            <label for="iva">IVA</label>
            <input required id="iva" placeholder="IVA de importación" class="form-control" type="number"
                name="iva">
        </div>
        <div class="form-group">
            <label for="costotransporte">Costo Transporte</label>
            <input required id="costotransporte" placeholder="Costro Transporte" class="form-control" type="number"
                name="costotransporte">
        </div>
        <div class="form-group">
            <label for="aduana">Aduana</label>
            <input required id="aduana" placeholder="Aduana de Ingreso" class="form-control" type="text"
                name="aduana">
        </div>
        <div class="form-group">
            <label for="cantidadI">Cantidad</label>
            <input required id="cantidadI" placeholder="Cantidad de Producto" class="form-control" type="number"
                name="cantidadI">
        </div>
        <div class="form-group">
            <label for="precioI">Precio</label>
            <input required id="precioI" placeholder="Precio del producto" class="form-control" type="number"
                name="precioI">
        </div>
        <div class="form-group">
            <button class="btn btn-success">Guardar</button>
            &nbsp;<a href="/importaciones" class="btn btn-primary">Volver</a>
        </div>
    </form>
</div>
<%- include("../footer"); %>