<%- include("../header"); %>
<div class="col-12">
    <h1>Editar producto</h1>
    <form method="post" action="/importaciones/actualizar">

        <input value="<%= importaciones.id %>" name="id" type="hidden">
        <div class="form-group">
            <label for="nombreI">Nombre</label>
            <input value="<%= importaciones.nombreI %>" required id="nombreI" placeholder="Nombre del producto"
                class="form-control" type="text" name="nombreI">
        </div>
        <div class="form-group">
            <label for="codigoI">Codigo</label>
            <input value="<%= importaciones.codigoI %>" required id="codigoI" placeholder="Codigo del producto"
                class="form-control" type="number" name="codigoI">
        </div>
        <div class="form-group">
            <label for="pais">Pais</label>
            <input value="<%= importaciones.pais %>" required id="pais" placeholder="Pais de Origen"
                class="form-control" type="text" name="pais">
        </div>
        <div class="form-group">
            <label for="proveedorI">Proveedor</label>
            <input value="<%= importaciones.proveedorI %>" required id="proveedorI" placeholder="Proveedor"
                class="form-control" type="text" name="proveedorI">
        </div>
        <div class="form-group">
            <label for="iva">IVA</label>
            <input value="<%= importaciones.iva %>" required id="iva" placeholder="IVA de importacion"
                class="form-control" type="number" name="iva">
        </div>
        <div class="form-group">
            <label for="costotransporte">Costo Transporte</label>
            <input value="<%= importaciones.costotransporte %>" required id="costotransporte" placeholder="Costo de Transporte"
                class="form-control" type="number" name="costotransporte">
        </div>
        <div class="form-group">
            <label for="aduana">Aduana</label>
            <input value="<%= importaciones.aduana %>" required id="aduana" placeholder="Aduana de Ingreso"
                class="form-control" type="text" name="aduana">
        </div>
        <div class="form-group">
            <label for="cantidadI">Cantidad</label>
            <input value="<%= importaciones.cantidadI %>" required id="cantidadI" placeholder="Cantidad de producto"
                class="form-control" type="number" name="cantidadI">
        </div>
        <div class="form-group">
            <label for="precioI">Precio</label>
            <input value="<%= importaciones.precioI %>" required id="precioI" placeholder="Precio del producto"
                class="form-control" type="number" name="precioI">
        </div>
        <div class="form-group">
            <button class="btn btn-success">Guardar</button>
            &nbsp;<a href="/importaciones" class="btn btn-primary">Volver</a>
        </div>
    </form>
</div>
<%- include("../footer"); %>