<%- include("../header"); %>
<div class="col-12">
    <h1>Productos Importados</h1>
    <a href="/importaciones/agregar" class="btn btn-primary mb-2">Agregar</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Codigo</th>
                <th>Pais</th>
                <th>Proveedor</th>
                <th>IVA</th>
                <th>Transporte</th>
                <th>Aduana</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <% importaciones.forEach(importaciones => { %>
            <tr>
                <td><%= importaciones.nombreI %></td>
                <td><%= importaciones.codigoI %></td>
                <td><%= importaciones.pais %></td>
                <td><%= importaciones.proveedorI %></td>
                <td><%= importaciones.iva %></td>
                <td><%= importaciones.costotransporte %></td>
                <td><%= importaciones.aduana %></td>
                <td><%= importaciones.cantidadI %></td>
                <td><%= importaciones.precioI %></td>
                <td>
                    <a href="/importaciones/editar/<%= importaciones.id %>" class="btn btn-warning">
                        Editar
                    </a>
                </td>
                <td>
                    <a href="/importaciones/eliminar/<%= importaciones.id %>" class="btn btn-danger">
                        Eliminar
                    </a>
                </td>
            </tr>
            <% })%>
        </tbody>
    </table>
</div>
<%- include("../footer"); %>